es-core-news-sm==2.0.0
fasttext==0.8.22
gensim==3.6.0
google-api-core==1.13.0
google-auth==1.6.3
google-cloud-core==1.0.2
google-cloud-translate==1.5.0
googleapis-common-protos==1.6.0
nltk==3.3
numpy==1.14.3
pandas==0.23.0
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.1.0
spacy==2.0.11
stanford-corenlp==3.8.0
stanfordcorenlp==3.9.1.1
stanfordnlp==0.1.1
torch==0.4.1
torchvision==0.2.1
